<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>board_breaking1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 34}, {37, 35}}</string>
			<key>spriteOffset</key>
			<string>{2, -17}</string>
			<key>spriteSize</key>
			<string>{37, 35}</string>
			<key>spriteSourceSize</key>
			<string>{63, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 74}, {37, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_breaking2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 31}, {39, 37}}</string>
			<key>spriteOffset</key>
			<string>{1, -15}</string>
			<key>spriteSize</key>
			<string>{39, 37}</string>
			<key>spriteSourceSize</key>
			<string>{63, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 35}, {39, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_breaking3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 36}, {53, 33}}</string>
			<key>spriteOffset</key>
			<string>{-1, -18}</string>
			<key>spriteSize</key>
			<string>{53, 33}</string>
			<key>spriteSourceSize</key>
			<string>{63, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {53, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{64, 128}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>boardbreak</string>
			<key>textureFileName</key>
			<string>boardbreak</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>boardbreak</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>