<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>icarus_bg_animation1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 94}, {320, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -47}</string>
			<key>spriteSize</key>
			<string>{320, 86}</string>
			<key>spriteSourceSize</key>
			<string>{320, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1208}, {320, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icarus_bg_animation2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 44}, {320, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -22}</string>
			<key>spriteSize</key>
			<string>{320, 136}</string>
			<key>spriteSourceSize</key>
			<string>{320, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1070}, {320, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icarus_bg_animation3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {320, 166}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{320, 166}</string>
			<key>spriteSourceSize</key>
			<string>{320, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 902}, {320, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icarus_bg_animation4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {320, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{320, 176}</string>
			<key>spriteSourceSize</key>
			<string>{320, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 724}, {320, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icarus_bg_animation5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 180}</string>
			<key>spriteSourceSize</key>
			<string>{320, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {320, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icarus_bg_animation6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 180}</string>
			<key>spriteSourceSize</key>
			<string>{320, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 182}, {320, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icarus_bg_animation7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 180}</string>
			<key>spriteSourceSize</key>
			<string>{320, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 364}, {320, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icarus_bg_animation8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {320, 176}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{320, 176}</string>
			<key>spriteSourceSize</key>
			<string>{320, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 546}, {320, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 2048}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>icarus_lighting</string>
			<key>textureFileName</key>
			<string>icarus_lighting</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>icarus_lighting</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>