<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>mountainAnimation_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 177}</string>
			<key>spriteSourceSize</key>
			<string>{320, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1074}, {320, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mountainAnimation_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 177}</string>
			<key>spriteSourceSize</key>
			<string>{320, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {320, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mountainAnimation_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 177}</string>
			<key>spriteSourceSize</key>
			<string>{320, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 358}, {320, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mountainAnimation_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 177}</string>
			<key>spriteSourceSize</key>
			<string>{320, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 895}, {320, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mountainAnimation_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 177}</string>
			<key>spriteSourceSize</key>
			<string>{320, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1432}, {320, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mountainAnimation_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 177}</string>
			<key>spriteSourceSize</key>
			<string>{320, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 716}, {320, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mountainAnimation_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 177}</string>
			<key>spriteSourceSize</key>
			<string>{320, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 179}, {320, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mountainAnimation_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 177}</string>
			<key>spriteSourceSize</key>
			<string>{320, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1253}, {320, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mountainAnimation_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 177}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 177}</string>
			<key>spriteSourceSize</key>
			<string>{320, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 537}, {320, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 2048}</string>
		<key>name</key>
		<string>Untitled 5</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>mtnrumble</string>
			<key>textureFileName</key>
			<string>mtnrumble</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>mtnrumble</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>