<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>board_turning01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 34}, {37, 35}}</string>
			<key>spriteOffset</key>
			<string>{1, -17}</string>
			<key>spriteSize</key>
			<string>{37, 35}</string>
			<key>spriteSourceSize</key>
			<string>{63, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {37, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_turning02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 28}, {33, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -14}</string>
			<key>spriteSize</key>
			<string>{33, 41}</string>
			<key>spriteSourceSize</key>
			<string>{63, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 74}, {33, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_turning03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 26}, {29, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, -13}</string>
			<key>spriteSize</key>
			<string>{29, 43}</string>
			<key>spriteSourceSize</key>
			<string>{63, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{35, 139}, {29, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_turning04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 24}, {23, 45}}</string>
			<key>spriteOffset</key>
			<string>{-1, -12}</string>
			<key>spriteSize</key>
			<string>{23, 45}</string>
			<key>spriteSourceSize</key>
			<string>{63, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{39, 0}, {23, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_turning05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 20}, {17, 45}}</string>
			<key>spriteOffset</key>
			<string>{-2, -8}</string>
			<key>spriteSize</key>
			<string>{17, 45}</string>
			<key>spriteSourceSize</key>
			<string>{63, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 160}, {17, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_turning06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 20}, {17, 45}}</string>
			<key>spriteOffset</key>
			<string>{-1, -8}</string>
			<key>spriteSize</key>
			<string>{17, 45}</string>
			<key>spriteSourceSize</key>
			<string>{63, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{19, 184}, {17, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_turning07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 24}, {23, 45}}</string>
			<key>spriteOffset</key>
			<string>{-1, -12}</string>
			<key>spriteSize</key>
			<string>{23, 45}</string>
			<key>spriteSourceSize</key>
			<string>{63, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{39, 47}, {23, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_turning08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 25}, {29, 43}}</string>
			<key>spriteOffset</key>
			<string>{-1, -12}</string>
			<key>spriteSize</key>
			<string>{29, 43}</string>
			<key>spriteSourceSize</key>
			<string>{63, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{35, 94}, {29, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_turning09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 28}, {33, 41}}</string>
			<key>spriteOffset</key>
			<string>{-2, -14}</string>
			<key>spriteSize</key>
			<string>{33, 41}</string>
			<key>spriteSourceSize</key>
			<string>{63, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 117}, {33, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>board_turning10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 33}, {37, 35}}</string>
			<key>spriteOffset</key>
			<string>{-2, -16}</string>
			<key>spriteSize</key>
			<string>{37, 35}</string>
			<key>spriteSourceSize</key>
			<string>{63, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 37}, {37, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{64, 256}</string>
		<key>name</key>
		<string>Untitled 3</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>yetiboardturn</string>
			<key>textureFileName</key>
			<string>yetiboardturn</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>yetiboardturn</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>